* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b2838;
    color: #c7d5e0;
    line-height: 1.6;
}

.header {
    background-color: #171a21;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.menu a {
    color: #c7d5e0;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.menu a:hover {
    color: #66c0f4;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.trailer iframe {
    width: 640px;
    height: 360px;
    border-radius: 10px;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.game-logo img {
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
}

.game-description {
    background-color: #2a475e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: justify;
}

.price-section {
    text-align: center;
    margin: 20px;
}

.buy-button {
    background-color: #5c921c;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.buy-button:hover {
    background-color: #417015;
}

.full-history, .gameplay-section, .monsters-section {
    background-color: #2a475e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    text-align: justify;
}

.full-history img, .gameplay-section img, .monsters-section img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

h2 {
    color: #66c0f4;
    margin-bottom: 10px;
}

.game-details {
    text-align: center; /* Centraliza o texto */
}

.footer {
    background-color: #171a21;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #c7d5e0;
}

.download-section {
    background-color: #2a475e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.download-section h2 {
    color: #66c0f4;
    margin-bottom: 10px;
}

.download-section p {
    color: #c7d5e0;
    margin-bottom: 15px;
}

.download-button {
    display: inline-block;
    background-color: #5c921c;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.download-button:hover {
    background-color: #417015;
    text-decoration: none;
    color: #fff;
}
